:root {
    --blue-color :#0075ff;
    --blue-alt-color :#0d69d5;
    --orange-color :#f59e0b;
    --green-color :#22c55e;
    --red-color :#f44336;
    --grey-color :#888;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
ul {
    padding: 0;
    list-style: none;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
/* start sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3  {
    margin-bottom: 50px;
}
.sidebar > h3::before  {
    content: "";
    width: 80px;
    background-color: black;
    height: 2px;
    position: absolute;
    bottom: -20px;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 10px;
}
.sidebar > h3::after  {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    border: 4px solid white;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);

}
.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
} 
.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width:767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar > h3::before {
        display: none;
    }
    .sidebar > h3::after {
        display: none;
    }
    .sidebar ul li a span {
        display: none;
    }
}
/* end sidebar */
/* start content */
.content {
    overflow: hidden;
}
.head .search::before  {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color:var(--grey-color) ;
    font-size: 14px;
}
.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}
.head .search input:focus {
    width: 200px;
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}
.head .icons img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 10px;
}
.page h1 {
    margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.page h1::before {
    background-color: white;
    width: 120px;
}
.page h1::after {
    background-color: black;
    width: 40px;
}
.wrapper  {
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width:767px) {
    .wrapper  {
    grid-template-columns: minmax(200px,1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    }
}
/* end content */
/* start welcome widget  */
.welcome {
    overflow: hidden;
}
.welcome .intro img {
    width: 150px;
    margin-bottom: -10px;
}
.welcome .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 2px;
    box-shadow: 0 0 10px #ddd;
    margin-left: 17px;
    margin-top: -35px;
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div {
    flex: 1;
}
.welcome .visit {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}
.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}
@media (max-width:767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar {
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }
}
/* END welcome widget  */
/* start quick draft widget  */
.quick-draft textarea {
    resize: none;
    min-height: 180px;  
}
.quick-draft .save {
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;  
}
.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}
/* end quick draft widget  */
/* start tragrt */
.target .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.target .details {
    flex: 1;
}
.target .details .progress {
    height: 4px;
}
.target .details .progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.target .details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 12px;
}
.target .details .progress > span span::after {
    content: "";
    border-color: transparent ;
    border-width: 5px;
    border-style: solid;
    bottom: -10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.target .details .progress > .blue span::after {
    border-top-color: var(--blue-color);
}
.target .details .progress > .orange span::after {
    border-top-color: var(--orange-color);
}
.target .details .progress > .green span::after {
    border-top-color: var(--green-color);
}
.blue .icon, 
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}
.orange .icon, 
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}
.green .icon, 
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}
/* end tragrt */
/* start tickets */
.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}
@media (max-width:767px) {
    .tickets .box {
        width: 100%;
    }
}
/* end tickets */
/* start new */
.new .box:not(:last-of-type){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.new .box img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}
.new .box .info {
    flex-grow: 1;
}
.new .box .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}
@media (max-width:767px) {
    .new .box {
        display: block;
    }
    .new .box .label {
        margin: 10px auto;
        width: fit-content;
    }
}
/* end new */
/* start task */
.task .task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.task .info {
    flex-grow: 1;
}
.task .done {
    opacity: 0.3;
}
.task .done h3 {
    text-decoration: line-through;
}
.task .done p {
    text-decoration: line-through;
}
.task .delete {
    cursor: pointer;
    transition: 0.3s;
}
.task .delete:hover {
    color: var();
}
/* end task */

    /* start new */
    .uploads .box:not(:last-of-type){
        margin-bottom: 14px;
        padding-bottom: 0;
        border-bottom: 1px solid #eee;
    }
    .uploads .box img {
        width: 50px;
        border-radius: 6px;
        margin-right: 15px;
    }
    .uploads .box .info {
        flex-grow: 1;
    }
    .uploads .box .info h3 {
        margin: 0 0 2px;
        font-size: 16px;
        cursor: pointer;
    }
    /* @media (max-width:767px) {
        .uploads .box {
            display: block;
        }
        .uploads .box .label {
            margin: 10px auto;
            width: fit-content;
        }
    } */
    /* end new */
/* start Current Project Progress */
.Project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}
.Project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}
.Project ul li.done::before {
    content: "";
    background-color: var(--blue-color);
}
.Project ul li.current::before {
    content: "";
    animation: change-color 0.8s infinite alternate;
}
.Project .launch {
    position: absolute;
    width: 140px;
    right: 0;
    bottom: 0;
    opacity: 0.2;
}
/* end Current Project Progress */
/* start reminders */
.reminders ul li .key {
    width: 15px;
    height: 15px;
}
.reminders ul li > .blue {
    border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
    border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
    border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
    border-left: 2px solid var(--red-color);
}
/* end reminders */
/* start Lastest */
.top .avatar {
    width: 48px;
    height: 48px;
}
.Lastest-Post .post-content  {
    text-transform: capitalize;
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
}
/* END Lastest */
/* start social-media */
.social-media .box {
    padding-left: 70px;
}
.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.3s;
}
.social-media .box i:hover {
    transform: rotate(5deg);
}
.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}
.social-media .facebook {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .facebook i, 
.social-media .facebook a {
    background-color: #1da1f2;
}
.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}
.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}
.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}
/* end social-media */
/* start projects */
.projects .responsive-table {
    overflow-x: auto;
}
.projects table {
    min-width: 1000px;
    border-spacing: 0;
}
.projects thead td {
    background-color: #eee;
    font-weight: bold;
}
.projects table td {
    padding: 15px;
}
.projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: 0.3s;
}
.projects table tbody tr td:last-child {
    border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
    background-color: #faf7f7;
}
.projects table img {
    width: 32px;
    height: 32px;
    padding: 2px;
    background-color: white;
    border-radius: 50%;
}
.projects table img:not(:first-child) {
    margin-left: -20px;
}
.projects table .label {
    font-size: 13px;
}
/* end projects */
/* ///////////////////// */
/* ///////////////////// */

/* start setting */
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.toggle-swith {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 15px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.toggle-swith::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-swith {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-swith::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-color);
}
/* -------------- */
.setting-page {
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    margin-left: 20px;
    margin-right: 20px;
}
@media(max-width:767px) {
    .setting-page {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.setting-page .close-message {
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;
}
.setting-page .email {
    display: inline-flex;
    width: calc(100% - 80px);
}
.setting-page .sec-box {
    padding-bottom: 15px;
}
.setting-page .sec-box:not(:last-of-type) {
    border-bottom: 1px solid #eee;
} 
.setting-page .sec-box .button {
    transition: 0.3s;
}
.setting-page .sec-box .button:hover {
    background-color: var(--blue-alt-color);
}
.widgets-control .control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}
.widgets-control .control label  {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.widgets-control .control label::before  {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 4px;
    width: 14px;
    height: 14px;
    border: 2px  solid var(--grey-color);
    margin-top: -9px;
}
.widgets-control .control label:hover::before {
    border-color: var(--blue-alt-color);
}
.widgets-control .control label::after  {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 4px;
    margin-top: -9px;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
}

.backup-control input[type="radio"]  {
    -webkit-appearance: none;
    appearance: none;
}
.backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.backup-control .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -11px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
}
.backup-control .date label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    /* margin-top: -11px; */
    width: 12px;
    height: 12px;
    background-color: var(--blue-color);
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0);
}
.backup-control .date input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);

}
.backup-control .date input[type="radio"]:checked+label::after {
    transform: scale(1);
}
.backup-control .servers {
    border-top: 1px solid #eee ;
    padding-top: 20px;
} 
@media (max-width:767px) {
    .backup-control .servers {
        flex-wrap: wrap;
    }
}
.backup-control .servers .server {
    border: 2px solid #eee;
    position: relative;

}
.backup-control .servers .server label {
    cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}
/* end setting */
/* start setting social */
.setting-page .social-boxes i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
}
.setting-page .social-boxes input {
    height: 40px; 
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
}
.setting-page .social-boxes > div:focus-within i {
    color: black;
}
.setting-page :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
}
/* end setting social */
/* start profile-page */
@media (max-width:767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}
.profile-page .avatar-box {
    width: 300px;
}
@media (min-width:767px) {
    .profile-page .avatar-box {
    border-right: 1px solid #eee;
}
}
.profile-page .avatar-box > img {
    width: 120px;
    height: 120px;
}
.profile-page .avatar-box .level {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}
.profile-page .avatar-box .level span  {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}
.profile-page .info-box .box {
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
}
.profile-page .info-box .box:hover {
    background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
    min-width: 230px;
    padding: 10px 0 0;
}
.profile-page .info-box .box h4 {
    font-weight: normal;
}
/*              toggle-swith toggle-swith toggle-swith toggle-swith toggle-swith                  */
.profile-page .info-box .toggle-swith {
    height: 20px;
}
@media (max-width:767px) {
    .profile-page .info-box .toggle-swith {
        margin: auto;
    }
}
.profile-page .info-box .toggle-swith::before {
    width: 12px;
    height: 12px;
    font-size: 8px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-swith::before {
    left: 62px
}
/*                toggle-swith toggle-swith toggle-swith toggle-swith toggle-swith                 */
@media (max-width:767px) {
.profile-page .other-data {
        flex-direction: column;
    }
}
.profile-page .skills-card {
    flex-grow: 1;
}
.profile-page .skills-card ul li{
    padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span {
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
}
.profile-page .skills-card ul li span:not(:last-child) {
    margin-right: 5px;
}
.profile-page .activities {
    flex-grow: 2;
}
.profile-page .activity:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.profile-page .activity img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 10px;
}
@media (min-width:768px) {
    .profile-page .activity .date {
        margin-left: auto;
        text-align: right;
    }
}
@media (max-width:767px) {
    .profile-page .activity {
        flex-direction: column;
    }
    .profile-page .activity img {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .profile-page .activity .date {
        margin-top: 15px;
    }
}

/* end profile-page */
/* start projects-page */
.projects-page {
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
}
@media (max-width:767px) {
    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.projects-page .project .date {
    position: absolute;
    right: 10px;
    top: 10px;
}
.projects-page .project h4 {
    font-weight: normal;
}
.projects-page .project .team {
    position: relative;
    min-height: 80px;
}
.projects-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;
}
.projects-page .project .team a:nth-child(2) {
    left: 25px;
}
.projects-page .project .team a:nth-child(3) {
    left: 50px;
}
.projects-page .project .team a:nth-child(4) {
    left: 75px;
}
.projects-page .project .team a:nth-child(5) {
    left: 100px;
}
.projects-page .project .team a:hover {
    z-index: 1000;
}
.projects-page .project .team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.projects-page .project .techs {
    justify-content: flex-end;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}
@media (max-width:767px) {
    .projects-page .project .techs {
        flex-direction: column;
    }
}
.projects-page .project .techs span {
    padding: 3px 8px;
    margin-left: 5px;
    width: fit-content;
}
@media (max-width:767px) {
    .projects-page .project .techs span:not(:last-child) {
        margin-bottom: 15px;
    }
}
.projects-page .project .info {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px ;
}
.projects-page .project .prog {
    height: 8px;
    width: 260px;
    position: relative;
    border-radius: 6px;
}
.projects-page .project .prog span {
    position: absolute;
    left: 0 ;
    top: 0;
    height: 100%;
    border-radius: 6px;
}
@media (max-width:767px) {
    .projects-page .project .info {
        flex-direction: column;
    }
        .projects-page .project .prog {
            margin-bottom: 15px ;
        }
}
/* end projects-page */
/* start courses-page */
.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width:767px) {
    .courses-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.courses-page .course {
    overflow: hidden;
}
.courses-page .course .cover {
    max-width: 100%;
}
.courses-page .course .instructor {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: 20px;
    left: 20px; 
    border: 2px solid white;
}
.courses-page .course .info {
    border-top: 1px solid #eee;
    font-size: 13px;

}
.courses-page .course .info .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50% );
    height: 27px;
    font-size: 13px;
    top: -13px;
    cursor: pointer;
}
/* end courses-page */
/* start friends-page */
.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}
@media (max-width:767px) {
    .friends-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.friends-page .contact {
    position: absolute;
    left: 10px;
    top: 10px;
}
.friends-page .contact i {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    cursor: pointer;
    transition: 0.3s;
}
.friends-page .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}
.friends-page .friend .icons {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.friends-page .friend .icons i {
    margin-right: 5px;
}
.friends-page .friend .icons .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.2;
}
/* emd friends-page */
/* start files-page */
.files-page {
    flex-direction: row-reverse;
    align-items: flex-start;
}
@media (max-width:767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}
.files-page .files-stats {
    min-width: 260px;

}
.files-page .files-stats .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.files-page .files-stats .size {
    margin-left: auto;
}
.files-page .files-stats .blue {
    background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .green {
    background-color: rgb(34 197 94 / 20%);
}
.files-page .files-stats .orange {
background-color: rgb(245 158 11 / 20%);
}
.files-page .files-stats .red {
    background-color: rgb(244 67 54 / 20%);
}
.files-page .files-stats .upload {
    margin: 15px auto 0;
    padding: 10px 15px;
    transition: 0.3s;
}
.files-page .files-stats .upload:hover {
    background-color: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i {
    animation: go-up 0.8s infinite;
}
.files-page .files-content  {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}
.files-page .files-content img {
    width: 64px;
    height: 64px;
    transition: 0.3s;
}
.files-page .files-content .file:hover img {
    transform: rotate(5deg);
}
.files-page .files-content .info {
    border-top: 1px solid #eee;
}

/* end files-page */
/* start plans-page */
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

}

@media (max-width:767px) {
    .plans-page {
        grid-template-columns: minmax(250px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid transparent;
}
.plans-page .plan.green .top {
    outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
    outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
    outline-color: var(--orangeq-color);
}
.plans-page .plan .price {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}
.plans-page .plan .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 26px;
}
.plans-page .plan ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}
.plans-page .plan ul li .yes {
    color: var(--green-color);
} 
.plans-page .plan ul li i:not(.yes, .help){
    color: var(--red-color);
} 
.plans-page .plan ul li i:first-child {
    font-size: 18px;
    margin-right: 5px;
}
.plans-page .plan ul li .help {
    color: var(--grey-color);
    margin-left: auto;
    cursor: pointer;
}

/* end plans-page */
/* start animation */
@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }
    to {
        background-color: white;
    }
}
@keyframes go-up {
    0%,100% {
       transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
/* end animation */